# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/

# SQLite
*.db

# Node
node_modules/
npm-debug.log*

# Env
.env

# Databases
backend/databases/*.db
backend/databases/*.db-journal
backend/databases/* 2.db-journal
